rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clients/{id} { allow read, write: if request.auth != null; }
    match /devis/{id} { allow read, write: if request.auth != null; }
    match /logs/{id} { allow read, write: if request.auth != null; }
    match /abonnements/{id} { allow read, write: if request.auth != null; }
    match /users/{id} { allow read, write: if request.auth != null && request.auth.uid == id; }
  }
}
